*.dll filter=lfs diff=lfs merge=lfs -text
winhttp.dll filter=lfs diff=lfs merge=lfs -text
**.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.TextRenderingModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.UIModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.UnityWebRequestWWWModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.XRModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.StreamingModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.UnityTestProtocolModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.WindModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/Mono.Posix.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.AndroidJNIModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.GameCenterModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.ImageConversionModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.PhysicsModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/System.Configuration.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.JSONSerializeModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.TextCoreModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.UnityWebRequestModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/System.Security.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.GIModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.ScreenCaptureModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.UnityWebRequestAssetBundleModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.UnityWebRequestAudioModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/System.Xml.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.AnimationModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.TerrainModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.UNETModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.UIElementsNativeModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.UnityWebRequestTextureModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.VFXModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/System.Xml.Linq.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.CoreModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.CrashReportingModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.Physics2DModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.TilemapModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/Microsoft.CSharp.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.LocalizationModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.ParticleSystemModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.SpriteShapeModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.VehiclesModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.ClothModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.TerrainPhysicsModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.UnityAnalyticsModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/System.Core.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/System.Net.Http.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/System.Numerics.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.ARModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.AudioModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.SubstanceModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.UnityConnectModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.VirtualTexturingModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/Mono.Security.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/System.Data.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.GridModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.HotReloadModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.SpriteMaskModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.VRModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.ClusterRendererModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.InputModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.PerformanceReportingModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.UIElementsModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.UmbraModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.AccessibilityModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.AIModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.AssetBundleModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.ClusterInputModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.DirectorModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.IMGUIModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.InputLegacyModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.RuntimeInitializeOnLoadManagerInitializerModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.VideoModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.DSPGraphModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.ProfilerModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.SharedInternalsModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.TLSModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/netstandard.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/System.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/System.Runtime.Serialization.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.UI.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/mscorlib.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.UnityCurlModule.dll filter=lfs diff=lfs merge=lfs -text
unstripped_corlib/UnityEngine.SubsystemsModule.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/core/Mono.Cecil.Pdb.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/core/Mono.Cecil.Rocks.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/core/MonoMod.RuntimeDetour.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/core/MonoMod.Utils.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Valheim.DisplayBepInExInfo.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/core/BepInEx.Harmony.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/core/Mono.Cecil.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/core/BepInEx.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/core/BepInEx.Preloader.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/core/HarmonyXInterop.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/core/Mono.Cecil.Mdb.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/core/0Harmony.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/core/0Harmony20.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/NotMyMods-CombatOverhaul_HHPatch/CombatOverhaul.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/OdinPlus-ForsakenJVL/Digitalroot.Valheim.ForsakenJVL.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Frenvius-Valharvest/Valharvest.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/OdinPlus-Better_Trader_Remake/BetterTrader.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/MSchmoecker-MultiUserChest/MultiUserChest.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/neurodr0me-RRRMonsters/RRRMonsters.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Huntardys-EpicValheimsAdditions/EpicValheimsAdditions.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Horem-DoOrDieMonsters/WereWolves.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/ASharpPen-Custom_Raids/Valheim.CustomRaids.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/cjayride-AutoSplitStacks/AutoSplitStack.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Horem-DoOrDieMonsters/Yeti.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/MMHOOK/MMHOOK_assembly_utils.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/chase000-ChaseMods_JumpAltersFallingDamage/ChaseMods.JumpAltersFallingDamage.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/makail-Skyheim/skyheim.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Maximmus-Useful_Trophies/UsefulTrophies.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/MSchmoecker-PressurePlate/PressurePlate.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Neobotics-WolfPack/WolfPack.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/RoundStone-RoundStoneScrollFirstPerson/RoundStone-Scroll_First_Person-1.0.0.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/swazrgb-Surtling_Boat/ValheimMotorBoat.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Tyrenheim-EpicLootArmourStandFix/ArmourStandFix.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/CW_Jesse-BetterNetworking_Valheim/CW_Jesse.BetterNetworking.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Gratak-VitalityRewrite/VitalityRewrite.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/LVH-IT-UseEquipmentInWater/UseEquipmentInWater.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/mgway-PaddlePower/PaddlePower.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Neobotics-RequipMe/RequipMe.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Smoothbrain-Ranching/Ranching.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/damnsneaker-QuickStack/QuickStack.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/MMHOOK/MMHOOK_assembly_valheim.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Goober-Forgotten_Biomes/Forgotten_Biomes.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/valheimgc-BetterArcheryEAQSFix/BetterArcheryEAQSFix.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/aedenthorn_mods-InstantMonsterLootDrop/InstantMonsterDrop.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/OdinPlus-Digitalroot_Valheim_SlopeCombatFix/Digitalroot.Valheim.SlopeCombatFix.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/tonsit-InteractWhileBuilding/InteractWhileBuilding.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/MMHOOK/MMHOOK_assembly_lux.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/DasSauerkraut-Terraheim/Terraheim.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Horem-DoOrDieMonsters/WereBear.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/thedefside-BetterUI_Reforged/BetterUI.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/ASharpPen-Spawn_That/YamlDotNet.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/MaGic-Quick_Deposit/QuickDeposit.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/MMHOOK/MMHOOK_assembly_postprocessing.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/OdinPlus-CraftyCartsRemake/CraftyCartsRemake.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/posixone-SkyheimExtended/SkyheimExtended.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/aedenthorn_mods-CraftFromContainers/CraftFromContainers.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/ASharpPen-Spawn_That/Valheim.SpawnThat.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/MMHOOK/MMHOOK_assembly_simplemeshcombine.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/patchers/ASharpPen-This_Goes_Here/Valheim.ThisGoesHere.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/DasSauerkraut-Terraheim/Newtonsoft.Json.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Menthus-Weightless_Coins/WeightlessCoins.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Smallo-CraftingStationsLevelBasedBuildRange/CraftingStationLevelRange.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Smoothbrain-Resurrection/Resurrection.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Advize-PlantEverything/Advize_PlantEverything.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/ValheimPlus-ValheimPlus/ValheimPlus.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/MMHOOK/MMHOOK_assembly_steamworks.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/chase000-UnfrightenTamedAnimals/ChaseMods.UnfrightenTamedAnimals.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Smoothbrain-CreatureLevelAndLootControl/CreatureLevelControl.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Smoothbrain-Groups/Groups.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Horem-DoOrDieMonsters/Golem.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Horem-DoOrDieMonsters/MonsterLoader.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Menthus-Placement_Unlocked/PlacementUnlocked.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/neurodr0me-RRRBetterRaids/RRRBetterRaids.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/neurodr0me-RRRCore/RRRCore.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/neurodr0me-RRRNpcs/RRRNpcs.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Skrip-SkToolbox/SkToolboxValheim.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Smoothbrain-Sailing/Sailing.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Horem-Do_or_Die_Items/DoDItems.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/virtuaCode-EquipWheel/EquipWheel.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/cjayride-ConfigurationManager/ConfigurationManager.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/GoldenJude-Mineshafts/Mineshafts.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Horem-DoOrDieMonsters/DoDMonsters.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Horem-DoOrDieMonsters/Wendigo.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/ishid4-BetterArchery/BetterArchery.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/ASharpPen-Drop_That/Valheim.DropThat.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Smoothbrain-ServerCharacters/ServerCharacters.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/virtuaCode-TrashItems/TrashItems.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/xAfflict-UnrestrictedPortals/YamlDotNet.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/purpledxd-Locator/Purps.Valheim.Locator.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/OdinPlus-OdinCampsite/OdinCampsite.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/OdinPlus-OdinTrainingPlace/OdinTrainingPlace.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/pipakin-SkillInjector/SkillInjector.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/RandyKnapp-EpicLoot/EpicLoot.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/DasSauerkraut-Terraheim/TerraheimItems.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/KGvalheim-MagicOverhaul/MagicOverhaul.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/RandyKnapp-ExtendedItemDataFramework/ExtendedItemDataFramework.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/ValheimModding-Jotunn/Jotunn.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/1010101110-multiplayerboatdamage/multiplayerboatdamage.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/AeehyehssReeper-ChaosArmor/ChaosArmor.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Horem-DoOrDieMonsters/Wizard.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/mtnewton-ItemStacks/ItemStacks.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/patchers/ASharpPen-This_Goes_Here/YamlDotNet.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/GoldenJude-Judes_Equipment/JudesEquipment.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/MMHOOK/MMHOOK_assembly_guiutils.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Nextek-SpeedyPaths/SpeedyPaths.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Nexus-FarmGrid/FarmGrid.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Torann_VL-Valheim_Legends/ValheimLegends.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Xenofell-PreWorkout/PreWorkout.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/billw2012-BetterContinents/BetterContinents.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/GemHunter1-CustomChestName/ValheimChestName.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/MMHOOK/MMHOOK_assembly_sunshafts.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/aedenthorn_mods-AutoFuel/AutoFuel.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/k942-MassFarming/MassFarming.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/ComfyMods-LicenseToKill/LicenseToKill.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/MSchmoecker-FenceSnap/FenceSnap.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/MMHOOK/MMHOOK_assembly_googleanalytics.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/RagnarokHCRP-MoreGates/moregates.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/RandyKnapp-EquipmentAndQuickSlots/EquipmentAndQuickSlots.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Horem-DoOrDieMonsters/Crawler.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/OdinPlus-OdinHorse/OdinHorse.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/virtuaCode-EmoteWheel/EmoteWheel.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/xAfflict-UnrestrictedPortals/UnrestrictedPortals.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/GoldenJude-Blacksmiths_tools/BlacksmithTools.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Grisch-GatheringSkillRedux/GatheringSkill.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/OdinPlus-TeleportEverything/TeleportEverything.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/RockerKitten-BoneAppetit/BoneAppetit.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Advize-CartographySkill/Advize_CartographySkill.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/patchers/ValheimModding-HookGenPatcher/BepInEx.MonoMod.HookGenPatcher/BepInEx.MonoMod.HookGenPatcher.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/Comoyi-SleepPlease/SleepPlease/SleepPlease.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/MonsterLabZ-MonsterLabZ/MonsterLabZ/MonsterLabZ.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/MrPurple6411-NoStaminaSneak/NoStaminaSneak/NoStaminaSneak.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/patchers/ValheimModding-HookGenPatcher/BepInEx.MonoMod.HookGenPatcher/MonoMod.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/patchers/ValheimModding-HookGenPatcher/BepInEx.MonoMod.HookGenPatcher/MonoMod.RuntimeDetour.HookGen.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/MathiasDecrock-PlanBuild/PlanBuild/PlanBuild.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/nearbear-BetterAutoRun/BetterAutoRun/BetterAutoRun.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/OdinPlus-Digitalroots_EpicLoot_Adventure_Bounties/Digitalroot.Valheim.EpicLoot.Adventure.Bounties/Digitalroot.Valheim.EpicLoot.Adventure.Bounties.dll filter=lfs diff=lfs merge=lfs -text
BepInEx/plugins/OdinPlus-OdinArchitect/OdinArchitect/OdinArchitect.dll filter=lfs diff=lfs merge=lfs -text
*/*/*/*/*/**.dll filter=lfs diff=lfs merge=lfs -text
*/*/*/*/*/*/**.dll filter=lfs diff=lfs merge=lfs -text
*/*/*/*/*/*/*/**.dll filter=lfs diff=lfs merge=lfs -text
*/*/*/*/*/*/*/*/**.dll filter=lfs diff=lfs merge=lfs -text
